            <li class="nav-item dropdown dropstart">
                <a class="nav-link" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                    <span class="fi fi-gb"></span>
                </a>
                <div class="dropdown-menu dropdown p-0">
                    <a href="/" class="dropdown-item active">
                        <i class="fi fi-gb mr-2"></i> English
                    </a>
                    <a href="/pt/" class="dropdown-item ">
                        <i class="fi fi-pt mr-2"></i> Português
                    </a>
                </div>
            </li>