{{ define "main" }}
<style type="text/css">
.btn-outline-secondary{
  position: inherit;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  color: #6c757d !important;
}
.btn-outline-secondary:hover{
 background-color: #6c757d !important;
 color: rgba(255, 255, 255, 1) !important;
}
.even{
    color: #000000;
}
select{
    color: #000 !important; 
}
</style>
<div class="callout callout-dogecoin">
<h5>{{ .Title }}</h5>
</div>
<section class="content">
<div class="content-fluid">

  <!-- Tab content -->
  <div class="callout row" style="margin: auto;padding: 15px; border-radius: 20px;box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%); background-color: #FFFFFF">

    {{ $.Scratch.Set "counter" 0 }}
    {{ range $.Site.Data.devs }}
    {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}


    <div class="col-md-4">

      <div class="card card-widget widget-user-2">
      
      <div class="widget-user-header bg-light">
      <div class="widget-user-image">
      <img class="img-circle elevation-2" style="background-color: #fff;" src="{{ .dev.pfp }}" alt="User Avatar">
      </div>
      
      <h3 class="widget-user-username">{{ .dev.name }}</h3>
      <div class="widget-user-desc">        
        {{ range $types := .dev.type }}        
          <span class="badge text-bg-dark">{{ $types }}</span>
        {{ end }} 
        </div>
        {{ if .dev.dogeTipAddress }}<div id='qrcode{{$.Scratch.Get "counter"}}' style="position:absolute;max-width: 69px; padding:5px; background-color:#fff;right: 20px; top: 20px;" class="card-img-top"></div>
        <script>
          var qrcode = new QRCode('qrcode{{$.Scratch.Get "counter"}}', {
                      text: 'dogecoin:{{ .dev.dogeTipAddress }}?amount=1',
                      width: 59,
                      height: 59,
                      colorDark : "#000000",
                      colorLight : "#ffffff",
                      correctLevel : QRCode.CorrectLevel.H
                  });          
        </script>{{ end }}       
      </div>
      <div class="card-footer p-0">
        <div class="row" style="padding: 0px; margin:0px">

      <div class="col-9" style="padding: 0px; margin:0px; padding-top: 4px;">
        {{ if .dev.social.web }}<a class="btn devs" href="{{ .dev.social.web }}" target="_blank" data-bs-toggle="tooltip" data-bs-title="Website"><i class="fa-solid fa-globe" style="float: right;"></i></a>{{ end }}
        {{ if .dev.social.email }}<a class="btn devs" href="mailto:{{ .dev.social.email }}" target="_blank" data-bs-toggle="tooltip" data-bs-title="Email"><i class="fa-solid fa-envelope" style="float: right;"></i></a>{{ end }}
        {{ if .dev.social.github }}<a class="btn devs" href="https://github.com/{{ .dev.social.github }}" target="_blank" data-bs-toggle="tooltip" data-bs-title="Github"><i class="fa-brands fa-github" style="float: right;"></i></a>{{ end }}
        {{ if .dev.social.twitter }}<a class="btn devs" href="http://twitter.com/{{ .dev.social.twitter }}" target="_blank" data-bs-toggle="tooltip" data-bs-title="Twitter"><i class="fa-brands fa-twitter" style="float: right;"></i></a>{{ end }}
        {{ if .dev.social.reddit }}<a class="btn devs" href="https://reddit.com/u/{{ .dev.social.reddit }}" target="_blank" data-bs-toggle="tooltip" data-bs-title="Reddit"><i class="fa-brands fa-reddit" style="float: right;"></i></a>{{ end }}
        {{ if .dev.social.discord }}<a class="btn devs" href="http://discordapp.com/users/{{ .dev.social.discord }}" target="_blank" data-bs-toggle="tooltip" data-bs-title="Discord"><i class="fa-brands fa-discord" style="float: right;"></i></a>{{ end }}
        {{ if .dev.social.linkedin }}<a class="btn devs" href="https://www.linkedin.com/in/{{ .dev.social.linkedin }}" target="_blank" data-bs-toggle="tooltip" data-bs-title="Linkedin"><i class="fa-brands fa-linkedin" style="float: right;"></i></a>{{ end }}
        {{ if .dev.social.dogeTipAddress }}<a class="btn devs" href="{{ .dev.social.dogeTipAddress }}" target="_blank" data-bs-toggle="tooltip" data-bs-title="Dogecoin: {{ .dev.social.dogeTipAddress }}"><i class="fa-solid fa-paw" style="float: right;"></i></a>{{ end }}
      </div>      
        <div class="col-3" style="padding: 0px; margin:0px">
            <button type="button" class="btn btn-light" style="border-radius: 0px; border-radius: 5px; float: right;"  data-bs-toggle="collapse" data-bs-target='#collapseProjects{{$.Scratch.Get "counter"}}' aria-expanded="false" aria-controls='collapseProjects{{$.Scratch.Get "counter"}}' > <span data-bs-toggle="tooltip" data-bs-title="Dogecoin {{ $.Site.Params.projects }}" class="float-right badge bg-dark" style="margin-top: 2px;">{{ len .dev.dogeProjects }}</span></button>
        </div>
        <div class="collapse" id='collapseProjects{{$.Scratch.Get "counter"}}'>
          <div class="card card-body">
            <ul class="list-group">
              {{ range $projects := .dev.dogeProjects }}
                <a href="{{ $projects.url }} " target="_blank" ><li class="list-group-item devs" >{{ $projects.name }} <i class="fa-brands fa-github nav-icon" style="float: right;"></i></li></a>                     
              {{ end }}
            </ul>  
          </div>
        </div>              
      </div>        
      </div>
      </div>
      
      </div>  
    {{ end }}

</div>
</div>
  		</section>
{{ end }}
