{{ define "main" }}
 <script type="text/javascript">
  $(document).ready(function() {
      $('#Projects').DataTable( {
          "order": [[ 0, "asc" ]],
          responsive: true
      } );
  } );
</script>
<style type="text/css">
.btn-outline-secondary{
  position: inherit;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  color: #6c757d !important;
}
.btn-outline-secondary:hover{
 background-color: #6c757d !important;
 color: rgba(255, 255, 255, 1) !important;
}
.even{
    color: #000000;
}
select{
    color: #000 !important; 
}

</style>
<div class="callout callout-dogecoin">
<h5>{{ $.Site.Params.such_projects }}</h5>
</div>
<section class="content">
<div class="content-fluid">

  <!-- Tab content -->
  <div class="callout" style="margin: auto;padding: 15px; border-radius: 20px;box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%); background-color: #FFFFFF !important">
  <table id="Projects" cellspacing="1" width="100%" style="border-color: #EEEEEE; text-align: left !important" class="table table-striped display responsive dataTable no-footer dtr-inline">
<thead>
  <tr style="background-color: #ccc; color: #000000 !important;font-weight: bold; ">
    <th><i class="fa-solid fa-paw"></i> {{ .Site.Params.project }}</th>
    <th><i class="fa-solid fa-code"></i> {{ .Site.Params.description }}</th>
    <th style="min-width: 100px"><i class="fa-solid fa-users"></i> {{ .Site.Params.social }}</th>
  </tr>
</thead>

                    {{ range .Pages }}
  <tr>
    <td>
      <div class="row" style=" text-align: center"><div style="col"><img src="{{.Params.social_Image}}" style="max-width: 60px;border-radius: 50%;"></div><div style="col">{{.Title}}</div></div>
    </td>
    <td>
        {{.Params.description}}
    </td>
    <td>
      {{ if ne .Params.social_URL "" }}
      <a href="{{ .Params.social_URL }}" target="_blank" class="btn btn-outline-secondary">
        {{ if eq .Params.social_Type "twitter" }}<i class="fa-brands fa-twitter"></i>{{ end }}
        {{ if eq .Params.social_Type "github" }}<i class="fa-brands fa-github"></i>{{ end }}
        {{ if eq .Params.social_Type "reddit" }}<i class="fa-brands fa-reddit"></i>{{ end }}
        {{ if eq .Params.social_Type "outher" }}<i class="fa-solid fa-globe"></i>{{ end }}
      </a>
      {{ end }}
    </td>
  </tr>

                    {{ end }}

</table>
</div>
</div>
  		</section>

{{ end }}