{{ define "main" }}
<div class="callout callout-dogecoin">
<h5>{{ .Title }}</h5>
</div>
    {{ $paginator := .Paginate .Data.Pages }}

<section class="content">
        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}
<div class="container-fluid">

<div class="row">
<div class="col-md-12">

<div class="timeline">
        {{ range $paginator.Pages.GroupByDate "2006" }}
                    {{ range .Pages }}

<div class="time-label">
<span class="bg-blue">
                                    {{ if .Site.Params.dateformShort }}
                                        {{ .Date.Format .Site.Params.dateformShort }}
                                    {{ else }}
                                        {{ .Date.Format "Jan 2 2006"}}
                                    {{ end }}
</span>
</div>


<div>
<i class="fas fa-user bg-yellow"></i>
<div class="timeline-item">
<h3 class="timeline-header"><a href="{{.Permalink}}">{{.Title}}</a></h3>
<div class="timeline-body">
{{.Content}}
</div>
</div>
</div>

                    {{ end }}
 {{ end }}

</div>
</div>

</div>
</div>

</section>






{{ end }}
