{{ define "main" }}
<script>
jQuery(function($, undefined) {
// In body tag
$("#libdogecoin").terminal({
    iam: function (name) {
        this.echo('Much nice to meet you, ' + name +
            '. So Welcome Dogecoin Blockchain');
    },
    generatePrivPubKeypair: function () {
        this.echo('\nPublic Key: D7AM5jDQ7xRRK7bMCZ87e4BsFxHxCdDbXd\n'
                + 'Private Key: QWgNKvA5LPD1HpopRFghjz6jPipHRAUrLjqTt7paxYX8cTbu5eRs\n\n'
                + 'as you can see, it generated a Dogecoin Address, the Public key is the'
                + 'Doge address to share, the Private Key is the key that enables you to access the Dogecoin Address to send and recieive Doge'
            );
    }
}, {
    greetings:'Much Welcome to Dogecoin.org\n'
            + 'learn how to interact with '
            + 'libdogecoin\n\n'
            + 'Type generatePrivPubKeypair and hit enter'
});
});
</script>
<style type="text/css">
h1{
    color: #4946dd;
}

</style>
<div class="row">
    <!-- Content here -->
    <h1 style=" text-align: center">{{ .Site.Params.learn_run_deploy }}<span style="color: #000000">Dogecoin</span> {{ .Site.Params.blockchain }}</h1>



<ul class="nav nav-tabs" id="codingTab" role="tablist" style="max-width: 700px; margin: auto; margin-top: 80px">
    <li class="nav-item" role="coding">
        <button class="nav-link primary active" id="javascriptcode-tab" data-bs-toggle="tab" data-bs-target="#javascriptcode" type="button" role="tab" aria-controls="javascriptcode" aria-selected="true">{{ .Site.Params.javascript }}</button>
    </li>
    <li class="nav-item" role="coding">
        <button class="nav-link primary" id="go-tab" data-bs-toggle="tab" data-bs-target="#go" type="button" role="tab" aria-controls="go" aria-selected="false">{{ .Site.Params.go }}</button>
    </li>
    <li class="nav-item" role="coding">
        <button class="nav-link primary" id="ptython-tab" data-bs-toggle="tab" data-bs-target="#ptython" type="button" role="tab" aria-controls="ptython" aria-selected="false">{{ .Site.Params.python }}</button>
    </li>
    <li class="nav-item" role="coding">
        <button class="nav-link primary" id="php-tab" data-bs-toggle="tab" data-bs-target="#php" type="button" role="tab" aria-controls="php" aria-selected="false">{{ .Site.Params.php }}</button>
    </li>
    <li class="nav-item" role="coding">
        <button class="nav-link primary" id="terminal-tab" data-bs-toggle="tab" data-bs-target="#terminal" type="button" role="tab" aria-controls="terminal" aria-selected="false">{{ .Site.Params.emulator }}</button>
    </li>
</ul>
<div class="tab-content" id="codingContent" style="max-width: 700px; margin: auto; margin-top: 15px">
    <div class="tab-pane fade show active" id="javascriptcode" role="tabpanel" aria-labelledby="javascriptcode-tab">
<pre>
<code class="language-bash" data-prismjs-copy="Copy">
npm install @mydogeofficial/dogecoin-js</code>
</pre>
<pre>
<code class="language-javascript" data-prismjs-copy="Copy">
import { DogecoinJS } from '@mydogeofficial/dogecoin-js'

async function run() {
    const dogecoin_js = await DogecoinJS.init()
    const [privKey, pubKey] = dogecoin_js.generatePrivPubKeypair()
    console.log(`generated: ${privKey} ${pubKey}`)
}
</code>
</pre>
    </div>
    <div class="tab-pane fade" id="go" role="go" aria-labelledby="go-tab">
<pre>
<code class="language-bash" data-prismjs-copy="Copy">
go get https://github.com/dogecoinfoundation/libdogecoin/tree/0.1.1-dev/wrappers/golang/libdogecoin</code>
</pre>
<pre>
<code class="language-go" data-prismjs-copy="Copy">
package libdogecoin

import (
    "testing"
)

func TestAddress(t *testing.T) {
    t.Run("keypair_gen_mainnet", func(t *testing.T) {
        priv, pub := W_generate_priv_pub_keypair(false)
        if len(priv) == 0 {
            t.Errorf("Private key does not exist.")
        }
        if len(pub) == 0 {
            t.Errorf("Public key does not exist.")
        }
    })
}
</code>
</pre>
</div>
    <div class="tab-pane fade" id="ptython" role="ptython" aria-labelledby="ptython-tab">
<pre>
<code class="language-bash" data-prismjs-copy="Copy">
pip3 install libdogecoin</code>
</pre>
<pre>
<code class="language-python">
//Start the secp256k1 context necessary for key pair generation.
//Must be started before calling any functions dealing with private or public keys
w_context_start()

//Generate a valid private key paired with the corresponding p2pkh address.
w_generate_priv_pub_key_pair(chain_code=0)</code>
</pre>
    </div>
    <div class="tab-pane fade" id="php" role="php" aria-labelledby="php-tab">
<pre>
<code class="language-bash" data-prismjs-copy="Copy">
git clone https://github.com/qlpqlp/libdogecoin-php.git</code>
</pre>
<pre>
<code class="language-php">
require_once 'libdogecoin-php/libdogecoin-bind.php';

// Simple exemple for generatePrivPubKeypair
$result = $LibDogecoin->generatePrivPubKeypair();
echo "This is my Private Key: " . $result->private;
echo "This is my Public Key: ". $result->public;</code>
</pre>
    </div>
    <div class="tab-pane fade" id="terminal" role="terminal" aria-labelledby="terminal-tab">
        <div id="libdogecoin" style="max-width: 700px;height: 200px;"></div>
    </div>
</div>


</div>
    <!--<h1 class="title">{{ .Site.Title }}</h1>-->
<script>
$("body").removeClass( "sidebar-mini" );
$("body").addClass( "sidebar-closed" );
$(".push-left-doge-menu").hide();
$(".search-left-doge-menu").hide();
$(".bottom-left-doge-menu").hide();
$( window ).resize(function() {
//if ($(window).width() > 1000) {
 $(this).delay(1).queue(function() {
     $( "body" ).addClass( "sidebar-collapse" );
     $(this).dequeue();
  });
//}
});

//$(".pushmenu").hide();
</script>
{{ end }}